.dashboard {
  display: block;
  position: static;
}

#dashboard-map-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.resize-handle {
  text-align: center;
  flex: 0 1 0%;
  position: relative;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 5rem;
  margin: 0px auto -1.25rem;
  padding: 0rem 0px 0.25rem;
  z-index: 1;
  cursor: ns-resize;
}

.logo {
  position: fixed;
  top: 1%;
  right: 1%;
  width: 275px;
  height: auto;
  padding: 10px 24px;
  color: #082a63;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1000;
}
.map-icon {
  color: #ffffff;
}

button.measure-icon {
  display: flex;
  transform: rotate(90deg);
  align-items: center;
  color: #000000;
}
button.change-unit {
  display: flex;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  color: #000000;
}
button.clear-icon {
  display: flex;
  transform: rotate(90deg);
  align-items: center;
  color: #000000;
}
button.menu-open-icon {
  display: flex;
  align-items: center;
}
