#title {
    display: block;
    color: #082A63;
    font-family: 'Inter', sans-serif;
    text-align: center;
    min-width: 275px;
    position: absolute;
    font-size: 1rem;
    top: 1%;
    left: 1%;
    padding: 10px 24px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* Ensure it's above other elements */
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 20000;
  }