.drawer-head {
    color: var(--main-blue);
    text-align: center;
    border-bottom: 2px solid var(--main-blue);
    margin: 0 0.9rem;
}

.drawer-head-content {
    display: flex;
    justify-content: center;
}
