#chart-box {
    width: 100%;
    height: 100%;
    background-color: white;
}

#chart-container {
    position: relative;
    display: flex;
}

#chart {
    width: 100%;
    height: 100%;
}

#chart-tools {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chart-instructions-container {
    position: absolute;
    top: 0;
    left: 10px;
}

#chart-instructions {
    position: relative;
    top: 0;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    font-size: 11px;
    display: block;
}

#chart-tools-left {
    position: absolute;
    top: 12px;
    left: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 50px;
    min-height: 20px;
}

#chart-tools-right {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chart-controls {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #eadede1c;
}

#chart-controls > svg {
    margin: 0 5px;
    cursor: pointer;
}

#data-access-link {
    margin-right: 7px;
    text-decoration: none;
}
